# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Chikatto.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\Chikatto\.idea\.idea.Chikatto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
